!!!
%html{lang: "en", style: "font-size: 16px;"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{content: "Thousands of top university places", name: "keywords"}/
    %meta{content: "", name: "description"}/
    %title Main
    %link{href: "nicepage.css", media: "screen", rel: "stylesheet"}/
    %link{href: "test.css", media: "screen", rel: "stylesheet"}/
    %meta{content: "Nicepage 5.7.13, nicepage.com", name: "generator"}/
    %link#u-theme-google-font{href: "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i", rel: "stylesheet"}/
    %link#u-page-google-font{href: "https://fonts.googleapis.com/css?family=Concert+One:400", rel: "stylesheet"}/
    %script{type: "application/ld+json"}
      :cdata
        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": ""
        }
    %meta{content: "#4f47c9", name: "theme-color"}/
    %meta{content: "Main", property: "og:title"}/
    %meta{content: "website", property: "og:type"}/
    %meta{"data-intl-tel-input-cdn-path" => "intlTelInput/"}/
  %body.u-body.u-xl-mode{"data-lang" => "en"}
    %section#sec-e81f.u-clearfix.u-valign-middle-lg.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xl.u-section-1
      .u-expanded-height-lg.u-expanded-height-md.u-expanded-height-sm.u-expanded-height-xl.u-palette-1-dark-2.u-shape.u-shape-rectangle.u-shape-1
      .u-clearfix.u-layout-wrap.u-layout-wrap-1
        .u-layout
          .u-layout-row
            .u-align-left.u-container-style.u-layout-cell.u-left-cell.u-size-26-xl.u-size-29-lg.u-size-29-md.u-size-29-sm.u-size-29-xs.u-layout-cell-1
              .u-container-layout.u-valign-middle.u-container-layout-1
                %h1.u-custom-font.u-text.u-text-palette-4-base.u-text-1 Bikes Online
                .u-border-9.u-border-white.u-line.u-line-horizontal.u-line-1
                %p.u-text.u-text-body-alt-color.u-text-2 The bikes in our online bike shop are often half the price of comparable bikes in the market, and that is due to our direct to consumer business model. We source high-quality bikes from the manufacturer, cut out the middlemen and pass on the savings to you - where they belong.
                %a.u-btn.u-button-style.u-palette-4-base.u-btn-1{href: "https://www.bike24.com/", target: "_blank"} learn more
            .u-align-right.u-container-style.u-layout-cell.u-right-cell.u-size-31-lg.u-size-31-md.u-size-31-sm.u-size-31-xs.u-size-34-xl.u-layout-cell-2
              .u-container-layout.u-valign-middle.u-container-layout-2
                %img.u-expanded-width.u-image.u-image-default.u-image-1{alt: "", src: "images/wsqd.jpg"}/
    %section.u-backlink.u-clearfix.u-grey-80
      %a.u-link{href: "https://nicepage.com/website-templates", target: "_blank"}
        %span Website Templates
      %p.u-text
        %span created with
      %a.u-link{href: "test.html", target: "_blank"}
        %span Website Builder Software